################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Payflex_Submission/.vs/Payflex_Submission/FileContentIndex/8b93d961-8de6-41fa-921e-6e09d493de29.vsidx
/Payflex_Submission/.vs/Payflex_Submission/FileContentIndex/8d14b30c-2c5b-494c-bdf0-3fa5b62e9789.vsidx
/Payflex_Submission/.vs/Payflex_Submission/FileContentIndex/b956490c-bf53-4b9e-8533-cc12b1e619ac.vsidx
